.arama{
    color: white;
    border: 5px solid goldenrod

}
h2{
    color: goldenrod;
    position: relative;
    left:50%;
    top: 450px;

}

input[type=text] {
    width: 500px;
    height: 25px; 
    border: 3px solid goldenrod;
    margin: auto;
}

.ara  {
       position: relative;
       margin: auto;
       left: 450px;
 
}

.list{
position: relative;
left:495px;
bottom:44px;

}